* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  background-image: url(son3.jpg);
  background-color: rgba(255, 217, 142, 0.5);
  font-family: Montserrat, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  text-align: center;
}

.main-counter {
  max-width: 100%;
  padding-top: 7%;
}

.nav-dec {
  display: flex;
  width: ;
  height: 80px;
  margin-bottom: 5px;
  background: darkgreen;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

.navbar-link {
  display: flex;
  text-decoration: none;
  color: #fff;
  padding-right: 40px;
}

.nav-dec img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 20px;
}
p {
  font-size: 25px;
}

button {
  border: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#increment-btn {
  background: darkred;
}

#save-btn {
  background: darkgreen;
}
